{% extends "base.html" %}

{% block content %}

<h2>Asignar Proyecto</h2>

<form method="POST">

<label>Estudiante</label>
<select name="estudiante">

{% for e in Estudiantes %}
<option value="{{ e.nombre }}">{{ e.nombre }}</option>
{% endfor %}

</select>


<label>Proyecto</label>
<select name="proyecto">

{% for p in proyectos %}
<option value="{{ p.nombre }}">{{ p.nombre }}</option>  
{% endfor %}

</select>

<button type="submit">Asignar</button>
<select name="estado">

<option value="En curso">En curso</option>
<option value="Finalizado">Finalizado</option>
<option value="Archivado">Archivado</option>

</form>

</select>


<h3>Lista de asignaciones</h3>

<table border="1">

<tr>
<th>Estudiante</th>
<th>Proyecto</th>
<th>Estado</th>
</tr>

{% for a in asignaciones %}

<tr>
<td>{{ a.estudiante }}</td>
<td>{{ a.proyecto }}</td>
<th>{{a.estado}}</th>
</tr>

{% endfor %}

</table>

{% endblock %}