<!DOCTYPE html>
<html>

<head>

<title>Sistema de Gestión de Proyectos</title>

<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>

<body>

<h1>Sistema de Gestión de Proyectos Estudiantiles</h1>

<nav>

<a href="/">Inicio</a> |
<a href="/proyectos">Proyectos</a> |
<a href="/proyectos/nuevo">Registrar Proyecto</a> |
<a href="/estudiantes">Estudiantes</a> |
<a href="/estudiantes/registrar">Registrar Estudiante</a>

</nav>

<hr>

{% block content %}
{% endblock %}

</body>

</html>